.article-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.article-container a {
  display: block;
}

.article-container img {
  width: 60px;
  height: auto;
  transition: transform 0.3s ease;
  background-color: transparent;
  mix-blend-mode: multiply;
}

.article-container img:hover {
  transform: scale(1.1);
}