.article-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-container a {
  display: block;
}

.article-container img {
  width: 60px;
  height: auto;
  transition: transform 0.3s ease;
  background-color: transparent;
  mix-blend-mode: multiply;
}

.article-container img:hover {
  transform: scale(1.1);
}